{% extends 'base.html' %}
{% block content %}
<h1>Direct By Nursultan Malikov</h1>
<h2>Проект Grocery это сайт вашего продуктового магазина</h2>
<h3>Если вы хотите себе такой - же сайт</h3>
<h3>Вы всегда можете обратится ко мне по номеру телефона - 87719988195</h3>
<h3>или же можете написать в <a href="https://instagram.com/immalikovv?igshid=ZnNqaXI1YmFreDRj">Инстаграмм</a></h3>
<h3>А так же есть еще много разных проектов которых вы бы себе захотели)</h3>
<h3>ссылка на проекты ниже</h3>
<a href="https://github.com/Nursultan-17">GitHub</a>
{% endblock %}